* {
    margin: 20px 20px 20px 20px;
    background-color: #6e8238;
    color: white;


}

h1{
  font-size:50px;
  float:left;
  font-family: 'Libre Barcode 39 Text', cursive;

}

h2{
font-family: 'Special Elite', cursive;
  margin-top:0px;
  font-size:20px;
  margin:100px;
}

 h3{
font-family: 'Special Elite', cursive;
  margin-top:0px;
  font-size: 20px;
 }

 h4{
font-family: 'Special Elite', cursive;
  margin-top:0px;
  font-size: 20px;
 }

h5{
font-family: 'Special Elite', cursive;
  margin-top:0px;
  font-size: 20px;
}

#exercises{
font-family: 'Open Sans Condensed', sans-serif;
font-size: 15px;
}


#weekly-exercises{
font-family: 'Open Sans Condensed', sans-serif;
font-size: 15px;
}

}

#projects{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;

}
