/* reset styles */
* {

}

.heroimage{
  width: 220%;
  height: 220%;
  color: white;
  float: left;
}

#title {
   top: 500px;
   font-family: 'Grenze', serif;
   font-size: 30px;
   text-align: center;
   position: absolute;
   top: 30%;
   left: 40%;
   line-height: 2.5em;
   height: 3em;
 }

 .row {
   display: flex;
 }

 .column1 {
   flex: 100%;
   max-width: 600px;
   min-width:0px;
 }

 .cloumn2{
   flex:100%;
   min-width:600px
   max-width:1200px

 }
body{
  background:black;
  color:white;
  font-family: 'Allerta Stencil', sans-serif;
}


img{
  width: 40%;
}


  .toctype {
  font-family:'Unica One', cursive;
  font-size: 30px;
  color:grey;
}
