/* reset styles */
* {margin: 0px 50px 50px 50px}

body{
  background:black;
  color: white;
  position: absolute;
}

heroimage{
  width: 75%;
  height: 75%;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#title {
   font-family: 'Lexend Peta', sans-serif;
   top: 500px;
   font-size: 40px;
   text-align: center;
   position: absolute;
   top: 3%;
   left: 45%;
   line-height: 2.3em;
   height: 5em;

 }

/* Style the tab buttons */
.tablink {
  text-align: inherit;
  font-family: 'Special Elite', cursive;
  background-color: black;
  color: white;
  float: left;
  margin: 0px 20px 20px 100px;
  display: inline;
  padding:4px 4px 4px 4px;
  font-size: 20px;
  position: sticky;
  top: 10px;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color:white;
  color:black;
}

.tabcontent{
  font-size: 300px
  position: absolute;
  top:40px;
}


img{
  width: 60%;
  height: 60%;
  margin-top: 50px;
}

h3{
  font-family: 'Sonsie One', cursive;
  font-size: 40px;
  margin-top:100px;
}

h4{
  font-family: 'Sonsie One', cursive;
  font-size: 40px;
  margin-top:100px;
}
h5{
  font-family: 'Sonsie One', cursive;
  font-size: 40px;
  margin-top:100px;
}
h6{
  font-family: 'Sonsie One', cursive;
  font-size: 40px;
  margin-top:100px;
}

h7{
  font-family: 'Sonsie One', cursive;
  font-size: 40px;
  margin-top:100px;
}


p{
  font-family: 'Heebo', sans-serif;
  font-size: 15px;
}

address{
  font-style: italic;
  font-family: 'Heebo', sans-serif;
  font-size: 13px;
}
