/* reset styles */
* {
        margin: 80px 80px 80px 80px;

}

.heroimage{
  width: 400%;
  height: 400%;
  color: white;
}

#title {
   top: 100px;
   font-family: 'Turret Road', cursive;
   font-size: 20px;
 }

 .row {
   display: flex;
 }

 .column {
   flex: 100%;
 }

body{

  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  background:black;
  color:white;
  margin: 5em;
  word-spacing: normal;
  border: 0px;
  text-align: center;
  word-spacing: normal;
  line-length: 20px;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 16px;
}


img{
  width: 60%;
}


  .toctype {
  font-family:'Unica One', cursive;
  font-size: 30px;
  color:grey;
}
