* {margin: 0px 50px 50px 50px}
body {
    background: white;
    color: black;
    font-family: 'AkkuratPro-Regular', Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-size: 14px;
}

/* @media (min-width: 768px)
body {
    letter-spacing: 0px;
} */
/*
body {
*, *:after, *:before {
    box-sizing: inherit;
} */
/*
body {
    display: block;
} */


.pindell_papers {
    background-color: black;
    color: white;
    padding-bottom: 4em;
    float: left;
    /* margin-top:300px; */
    * {margin: 0px 50px 50px 50px}}


    /* body{
      background:black;
      color: white;
      justify-content: center;
      -webkit-font-smoothing: antialiased;
    } */

    /* #heroimage{
      width: 22.5%;
      height: 22.5%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    } */
    #title {
       font-family: 'Lexend Peta', sans-serif;
       /* top: 200px; */
       font-size: 30px;
       /* text-align:left; */
       /* position: absolute; */
       left: 45%;
       line-height: 2.5em;
       height: 5em;
       margin-top:50px;
       margin-bottom: 50px;
       top:1%;
       margin: 100px;
     }



    /* Style the tab buttons */
    .toctype{
      /* background-color: black; */
      color: white;
      font-family: 'Special Elite', cursive;
      position: sticky;
      top: 5px;
    }
    button.tablink{
      button: 10px 10px 10px 10px;
      vertical-align: baseline;
      box-sizing: border-box;
      padding: 1px 1px 1px 1px;
      margin: 10px 5px 10px 5px;
      font-family: 'Special Elite', cursive;
      background-color: black;
      color: white;
      padding:2px 2px 2px 2px;
      font-size: 20px;
      margin-top: 20px;

    /* button.tablink{
      button: 5px 5px 5px 5px;
      vertical-align: baseline;
      box-sizing: border-box;
      padding: 0.5px 0.5px 0.5px 0.5px;
      margin: 5px 2.5px 5px 2.5px;
      font-family: 'Special Elite', cursive;
      background-color: black;
      color: white;
      padding:1px 1px 1px 1px;
      font-size: 10px;
      margin-top: 10px; */


    }
    /* Change background color of buttons on hover */
    .tablink:hover {
      background-color:white;
      color:black;
    }




    img{
      width: 28.5%;
      height: 28.5%;
      margin: 0px 10px 10px 10px;
      justify-content: center;

    }



    h2{
      font-family: 'Sonsie One', cursive;
      font-size: 40px;
      margin-top: 100px;
      float: right;
      margin-right: 100px;
    }

    #sheungwan{
      margin-left: 200px;
      width:50%;
      height:50%;

    }

    h3{
      font-family: 'Sonsie One', cursive;
      font-size: 40px;
      margin-top:100px;
      float: right;
      margin-right: 100px;
    }

    #causewaybay{
        margin-left: 200px;
        width:50%;
        height:50%;
    }


    h4{
      font-family: 'Sonsie One', cursive;
      font-size: 40px;
      margin-top: 100px;
      float: right;
      margin-right: 100px;
    }

    #taio{
      margin-top: 100px;
        margin-left: 200px;
        width:50%;
        height:50%;

    }


    h5{
      font-family: 'Sonsie One', cursive;
      font-size: 40px;
      margin-top:100px;
      float: right;
      margin-right: 100px;
    }

    #mongkok{
      margin-top:100px;
      margin-left: 200px;
      width:50%;
      height:50%;
    }

    h6{
      font-family: 'Sonsie One', cursive;
      font-size: 40px;
      margin-top:100px;
      float: right;
      margin-right: 100px;
    }

    #shamshuipo{
        margin-left: 200px;
        width:50%;
        height:50%;
    }



    p{
      font-family: 'Heebo', sans-serif;
      font-size: 20px;
      /* position:absolute; */
     margin: 0px 50px 50px 50px
    }

    address{
      font-style: italic;
      font-family: 'Heebo', sans-serif;
      font-size: 20px;
      display: block;
    }
