
/* reset styles */
* { margin: 0px; padding: 0px; }

/* make the background of the page black */
body { background: black;}

/* mickey canvas */
  #canvas {
  width: 400px;
  height: 600px;
  position: relative;
  background: white;
}

/* shapes */
/* make all divs inside of #canvas a circle */
#canvas div {
  border-radius: 200px;
  position: absolute;
}

/*
adjust the top and left
properties of the elements
to position them
*/

#ear-1 {
  width: 100px;
  height: 100px;
  background: black;

  /* try uncommenting the following code
  top: 100px;
  left: 20px;
  */
}

#ear-2 {
  width: 100px;
  height: 100px;
  background: black;
}

#head {
  width: 140px;
  height: 140px;
  background: beige;
}

#eye-1 {
  width: 25px;
  height: 25px;
  background: black;
}

#eye-2 {
  width: 25px;
  height: 25px;
  background: black;
}

#nose {
  width: 45px;
  height: 45px;
  background: black;
}

#mouth {
  width: 35px;
  height: 35px;
  background: red;
}

#body {
  width: 160px;
  height: 160px;
  background: red;
}

#button-1 {
  width: 32px;
  height: 32px;
  background: black;
}

#button-2 {
  width: 32px;
  height: 32px;
  background: black;
}

#foot-1 {
  width: 150px;
  height: 150px;
  background: yellow;
}

#foot-2 {
  width: 150px;
  height: 150px;
  background: yellow;
}
